<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{.Image}}">
    <ul>
        <li>
            <p>Name: {{.Name}}</p>
            <p>Members: {{range .Members}}{{.}}, {{end}}</p>
            <p>Creation Date: {{.CreationDate}}</p>
            <p>First Album: {{.FirstAlbum}}</p>
            <p>Locations:</p>
            <ul>
                {{range .Locations.Locations}}
                <li>{{.}}</li> 
                {{end}}
            </ul>
            <p>Concert Dates:</p>
            <ul>
                {{range .ConcertDates.Dates}}
                <li>{{.}}</li> 
                {{end}}
            </ul>
            <p>Relations:</p>
            <ul>
                {{range .Relations.DatesLocations}}
                <li>{{.}}</li> 
                {{end}}
            </ul>
        </li>
    </ul>
</body>
</html>
